<style>

</style>

<header class="header">
    <nav class="nav">
        <ul>
            <li class="li-nav"><a href="{{ path('app_homedefault') }}">RatusApp</a></li>
            {% if app.user %}
                <li class="li-nav dropdown">
                    <a href="#" class="dropbtn">Authentication</a>
                    <div class="dropdown-content">
                        <a href="#" class="dropbtn">{{ app.user.email }}</a>
                        <a href="{{ path('app_logout') }}">Logout</a>
                    </div>
                </li>
            {% else %}
                <li class="li-nav dropdown">
                    <a href="#" class="dropbtn">Authentication</a>
                    <div class="dropdown-content">
                        <a href="{{ path('app_register') }}">Register</a>
                        <a href="{{ path('app_login') }}">Login</a>
                    </div>
                </li>
            {% endif %}
            <li class="li-nav"><a href="{{ path('app_lucky') }}">Lucky</a></li>
            <li class="li-nav"><a href="{{ path('app_about') }}">About</a></li>
            <li class="li-nav">
                <a href="{{ path('app_article') }}">Articles</a>
                <div class="dropdown-content">
                    <a href="{{ path('list_articles') }}">All Articles</a>
                </div>
            </li>
            {% if app.user and not 'ROLE_USER' not in app.user.roles %}
                <li class="li-nav dropdown">
                    <a href="{{ path('admin_user_list') }}" class="dropbtn">Admin panel</a>
                    <div class="dropdown-content">
                        <a href="{{ path('admin_user_list') }}">Manage Users</a>
                        <a href="{{ path('admin_user_roles', {id: app.user.id}) }}">Manage Roles</a>
                        <a href="{{ path('app_logout') }}">Logout</a>
                    </div>
                </li>
            {% else %}
               
            {% endif %}
        </ul>
    </nav>
</header>
