{% extends 'base.html.twig' %}

{% block title %}Edit Article{% endblock %}

{% block body %}
    <div class="edit-wrapper">
        <h1>Edit Article</h1>
        {{ form_start(form) }}
        <div>
            {{ form_label(form.titre, 'Titre', {'label_attr': {'class': 'form-label'}}) }}
            {{ form_widget(form.titre, {'attr': {'class': 'form-control'}}) }}
        </div>
        <div>
            {{ form_label(form.texte, 'Texte', {'label_attr': {'class': 'form-label'}}) }}
            {{ form_widget(form.texte, {'attr': {'class': 'form-control'}}) }}
        </div>
        <div>
            {{ form_label(form.publie, 'Publié', {'label_attr': {'class': 'form-label'}}) }}
            {{ form_widget(form.publie, {'attr': {'class': 'form-check-input'}}) }}
        </div>
        <div>
            {{ form_label(form.date, 'Date', {'label_attr': {'class': 'form-label'}}) }}
            {{ form_widget(form.date, {'attr': {'class': 'form-control'}}) }}
        </div>
        <button class="btn">Save</button>
        {{ form_end(form) }}
    </div>
{% endblock %}
