{% extends 'base.html.twig' %}

{% block title %}Liste des Articles{% endblock %}

{% block body %}
    <div class="article-wrapper">
        <h1>Liste des Articles</h1>
        <table class="article-table">
            <thead>
            <tr>
                <th>ID</th>
                <th>Titre</th>
                <th>Date</th>
                <th>Publier</th>
                <th>Actions</th>
            </tr>
            </thead>
            <tbody>
            {% for article in articles %}
                <tr>
                    <td>{{ article.id }}</td>
                    <td>{{ article.titre }}</td>
                    <td>{{ article.date|date('d/m/Y H:i') }}</td>
                    <td>
                        {% if article.publie %}
                            <span class="icon-small">{{ ux_icon('grommet-icons:validate') }}</span>
                        {% else %}
                            <span class="icon-small">{{ ux_icon('emojione-monotone:cross-mark') }}</span>
                        {% endif %}
                    </td>
                    <td>
                        <a href="{{ path('show_article', {id: article.id}) }}">Voir</a>
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
        <a href="{{ path('article_new') }}" class="new-article-button">Créer un nouvel article</a>
    </div>
{% endblock %}
