{% extends 'base.html.twig' %}

{% block title %}New Article{% endblock %}

{% block body %}
    <style>
        body {
            font-family: 'Poppins', sans-serif;
        }
        .new-wrapper {
            padding: 20px;
        }
        .form-control, .form-check-input {
            width: 100%;
            padding: 10px;
            margin: 10px 0;
            border: 1px solid #333;
            border-radius: 5px;
        }
        .form-control:focus, .form-check-input:focus {
            border-color: #3498db;
            outline: none;
        }
        .form-label {
            margin-top: 10px;
            font-weight: bold;
        }
        .btn {
            display: inline-block;
            margin-top: 20px;
            padding: 10px 20px;
            background-color: #3498db;
            color: #fff;
            text-decoration: none;
            border-radius: 5px;
            font-size: 16px;
            transition: background-color 0.3s;
            border: none;
        }
        .btn:hover {
            background-color: #2980b9;
        }
    </style>
    <div class="new-wrapper">
        <h1>Create a new Article</h1>
        {{ form_start(form) }}
        <div>
            {{ form_label(form.titre, 'Titre', {'label_attr': {'class': 'form-label'}}) }}
            {{ form_widget(form.titre, {'attr': {'class': 'form-control'}}) }}
        </div>
        <div>
            {{ form_label(form.texte, 'Texte', {'label_attr': {'class': 'form-label'}}) }}
            {{ form_widget(form.texte, {'attr': {'class': 'form-control'}}) }}
        </div>
        <div>
            {{ form_label(form.publie, 'Publié', {'label_attr': {'class': 'form-label'}}) }}
            {{ form_widget(form.publie, {'attr': {'class': 'form-check-input'}}) }}
        </div>
        <div>
            {{ form_label(form.date, 'Date', {'label_attr': {'class': 'form-label'}}) }}
            {{ form_widget(form.date, {'attr': {'class': 'form-control'}}) }}
        </div>
        <button class="btn">Save</button>
        {{ form_end(form) }}
    </div>
{% endblock %}
