{% extends 'base.html.twig' %}

{% block title %}New Article{% endblock %}

{% block body %}
    <div class="new-wrapper">
        <h1>Create a new Article</h1>
        {{ form_start(form) }}
        <div>
            {{ form_label(form.titre, 'Titre', {'label_attr': {'class': 'form-label'}}) }}
            {{ form_widget(form.titre, {'attr': {'class': 'form-control'}}) }}
        </div>
        <div>
            {{ form_label(form.texte, 'Texte', {'label_attr': {'class': 'form-label'}}) }}
            {{ form_widget(form.texte, {'attr': {'class': 'form-control'}}) }}
        </div>
        <div>
            <p>Publier après vérification d'un admin</p>
            {{ form_widget(form.publie) }}
        </div>
        <div>
            {{ form_label(form.date, 'Date', {'label_attr': {'class': 'form-label'}}) }}
            {{ form_widget(form.date, {'attr': {'class': 'form-control'}}) }}
        </div>
        <button class="btn">Save</button>
        {{ form_end(form) }}
        <button class="btn" onclick="window.location.href='{{ path('list_articles') }}'">Retour</button>
    </div>
{% endblock %}
